/* Universal styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.btn-primary {
  background-color: #ff5959;
  border: 0;
  padding: 15px 25px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
/* Header Styles */
.header {
  background-image: url("../images/donation13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-content {
  padding: 40px 200px 100px;
  text-align: center;
}

.header-title {
  font-weight: 700;
  font-size: 60px;
  margin: 30px 50px 10px;
  color: white;
}

.header-caption {
  color: white;
  margin-bottom: 30px;
}

/* Donate Today Styles */

.donate-today {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.section-title {
  font-weight: 700;
  font-size: 45px;
  margin: 80px 0px 20px;
}

.section-caption {
  color: #535050;
  font-size: 20px;
  margin-bottom: 50px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.amounts {
  border-radius: 5px;
  padding: 40px 0px;
  width: 135px;
  font-weight: 900;
  font-size: 30px;
  background-color: #ebecec;
  color: #4b4848;
  border: 2px solid white;
}

.amounts:hover {
  background-color: #f5e0e0;
  border: 2px solid #e77979;
}
.other-amount {
  color: #9c9c9c;
  font-size: 20px;
  border-bottom: 1px solid grey;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
  height: 40px;
  width: 800px;
  text-align: center;
  margin-bottom: 30px;
}

/* donate plan styles */
.donate-plan {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

/* services styles */

.services {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin: 30px 100px;
}

.service-criteria-food {
  max-width: 300px;
  padding: 60px 30px;
  border-radius: 5px;
  background-color: #edf5f6;
}

.service-criteria-shelter {
  max-width: 300px;
  padding: 60px 30px;
  border-radius: 5px;
  background-color: #ffeeee;
}

.service-criteria-edu {
  max-width: 300px;
  padding: 60px 30px;
  border-radius: 5px;
  background-color: #f0e3bf;
}

.criteria-title {
  font-weight: 700;
  font-size: 25px;
  margin: 40px 0px;
}

.criteria-caption {
  font-size: 20px;
  color: #535050;
}

/* Gallery Styles */

.donate-gallery {
  margin: 80px 50px;
}

.gallery {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

.gallery-content {
  max-width: 500px;
}

.gallery-title {
  font-width: 700;
  font-size: 40px;
  margin-bottom: 20px;
}

.gallery-caption p {
  font-size: 20px;
  color: #535050;
  margin-bottom: 30px;
}

.gallery-image img {
  width: 600px;
  height: 450px;
  border-radius: 10px;
}

.free-space {
  margin: 100px 0px;
}

/* Update Styles */

.update {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.area {
  display: flex;
  align-items: center;
  padding: 50px 200px;
  background-color: #fff4d6;
  text-align: center;
  margin-bottom: 100px;
}

#email-box {
  height: 50px;
  width: 450px;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  padding-left: 10px;
  font-size: 20px;
}

.subscription .btn-primary {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 0;
  height: 50px;
}

/* Footer Styles */

.footer {
  width: 100%;
  height: 200px;
  background-color: #0b0d17;
  text-align: center;
}

.footer h1 {
  font-family: "lobster", Courier, monospace;
  color: #ff5959;
  margin: 30px 0px;
  padding-top: 50px;
}

.footer p {
  color: white;
}
